* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}

/* --- Header --- */
.top-bar {
    background-color: #111;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    align-items: center;
}

.top-bar a.shop-now {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
    justify-content: center;
}

.lang-select select {
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transform: translateX(400px);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 14px;
}

.nav-links a.active,
.nav-links a:hover {
    color: #dd5b55;
    text-decoration: underline;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #ececec;
    transform: translateX(-30px);
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-bar button img {
    width: 16px;
    height: 16px;
}

.search-icons {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.nav-icons {
    display: flex;
    gap: 15px;
}

.nav-icons .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-icons .icon:hover {
    background-color: #db4444;
}

.nav-icons .icon img {
    width: 24px;
    height: 24px;
    display: block;
}


/* Breadcrumb */
.breadcrumb {
    font-size: 20px;
    color: #666;
}

.breadcrumb a {
    color: #666;
    text-decoration: none;
}

.breadcrumb span {
    color: #111;
    font-weight: bold;
}

/* Our Story */
.our-story {
    padding: 30px;
}

.our-story .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.story-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.story-text p {
    margin-bottom: 15px;
    font-size: 15px;
    width: 400px;
}

.story-img img {
    width: 700px;
    border-radius: 8px;
}

/* Stats */
.stats {
    padding: 30px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.stat-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    border: solid #bbbbbb 1px;
    padding: 25px 15px;
    transition: 0.3s;
}

.stat-box:hover {
    background: #f94d4d;
    color: #fff;
    transform: rotate(3deg) scale(1.2);
}

.stat-box h3 {
    font-size: 24px;
    margin: 10px 0;
}

.stat-box p {
    font-size: 14px;
}

/* Team */
.team {
    padding: 30px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: start;
}

.team-member img {
    width: 100%;
    border-radius: 8px;
    height: 300px;
    background-color: #ccc;
}

.team-member:hover {
    transform: scale(1.2) rotate(5deg);
    transition: 0.5s;
}

.team-member h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.socials {
    display: flex;
    justify-content: baseline;
    gap: 20px;
}

.socials img {
    background-color: white;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

/* Services */
.services {
    padding: 30px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.service-box {
    padding: 20px;
    border: 1px solid #bbbbbb;
    transition: 0.3s;
}

.service-box:hover {
    background: #f94d4d;
    color: #fff;
    transform: rotate(3deg) scale(1.2);
    border: transparent;
}

.service-box h5 {
    margin: 10px 0;
    font-size: 16px;
}

.service-box p {
    font-size: 14px;
}

/* Shared Icon Style */
.icon-round {
    background: #000;
    border-radius: 50%;
    border: 10px #bbbbbb solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.icon-round img {
    width: 32px;
    height: 32px;
}

/* --- Footer --- */
footer {
    background-color: #111;
    color: white;
    padding: 40px 80px 20px 80px;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 180px;
    margin-bottom: 30px;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 25px;
}

.footer-container p {
    margin-top: 25px;
}

.footer-section h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.email-subscribe {
    position: relative;
    width: 100%;
    max-width: 250px;
}

.email-subscribe input {
    padding: 10px 40px 10px 15px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}

.email-subscribe button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.email-subscribe button img {
    width: 18px;
    margin-right: 60px;
    margin-top: 15px;
}

.download-app h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.download-app p {
    font-size: 12px;
    margin-bottom: 10px;
}

.download-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qr-code {
    width: 80px;
    height: auto;
}

.store-buttons img {
    width: 120px;
    margin-bottom: 8px;
    display: block;
}

.social-icons {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.social-icons img,
.email-subscribe img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.store-buttons img {
    margin-top: 10px;
    width: 100px;
    height: 33px;
    border-radius: 5px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section input[type="email"] {
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    width: 80%;
}

.app-links a img {
    width: 120px;
    margin-top: 5px;
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 10px;
    color: #bbb;
}
